<nav class="navbar navbar-inverse navbar-static-top navbar-padded">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navigation-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'all_jobs' %}">NGS Workflow</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-bar">
      <ul class="nav navbar-nav">
        <li id="navbar-index-link"><a href="{% url 'all_jobs' %}">All jobs</a></li>
        <li id="navbar-new-link"><a href="{% url 'new' %}">Submit a new job</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>