{% extends 'rimrock_communication/base.html' %}


{% block content %}
  {% include 'rimrock_communication/_partial_messages.html' %}

  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Jobs status
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <ul>
      {% for j in job_list %}
        <li>Job: {{ j.job_name }} status {{ j.get_status_display }}</li>
      {% empty %}
        <li>No jobs...</li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#navbar-index-link").addClass("active");
    });
  </script>
{% endblock %}


