{% extends 'rimrock_communication/base.html' %}


{% block content %}
  {% include 'rimrock_communication/_partial_messages.html' %}
  {% if proxy_invalid %}
    {% include 'rimrock_communication/_partial_proxy_validator.html' %}
  {% endif %}

  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        Submit NGS job
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="job-name">Job name</label>
          <input name="job_name" type="text" class="form-control" id="job-name" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="sequence-read-url">Sequence read file url (fastq.gz format)</label>
          <input name="sequence_read_url" type="text" class="form-control" id="sequence-read-url"
                 placeholder="File Url">
          <p class="help-block">
            <button id="hl" type="button" class="btn btn-sm btn-info"  data-toggle="popover" data-placement="right" title="Sample url" data-content="ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/phase3/data/NA19726/sequence_read/SRR077642.filt.fastq.gz">Click to show sample url</button>
          </p>
        </div>

        <a data-toggle="collapse" href="#advanced" id="advanced-options-trigger">
          <h4>
            Click here to expand more options
            <span class="pull-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </h4>
        </a>

        <div id="advanced" class="collapse">
          <div class="form-group">
            <label for="output-file-path">
              Provide an output file path. (Default is: $HOME/results/job_name.txt).
            </label>
            <input name="output_file_path" type="text" class="form-control" id="output-file-path"
                   placeholder="Absolute path - output">

            <p class="help-block">
              Remeber! You must have correct permisisons to write to specified directory!
            </p>
          </div>

          <div class="form-group">
            <label for="workspace-path">
              Provide a workspace directory path. (Default is: $HOME/results/job_name.txt).
            </label>
            <input name="workspace_directory" type="text" class="form-control" id="workspace-path"
                   placeholder="Absolute path - worksapce">

            <p class="help-block">
              Remeber! You must have correct permisisons to write to specified directory!
            </p>
          </div>
        </div>
        <button id="refresh-jobs" class="ladda-button" type="submit" data-style="zoom-out" data-color="blue">
          <span class="ladda-label">Submit</span>
        </button>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $("[data-toggle=popover]").popover();
      $( 'button[type=submit]' ).ladda( 'bind' );
      $("#navbar-new-link").addClass("active");
{#      {% for message in messages %}#}
{#        console.log("{{ message.message }}");#}
{#      {% endfor %}#}
    });
  </script>
{% endblock %}


