.navbar-padded {
    padding: 0 20px;
}

#refresh-jobs {
    cursor: pointer;
}

#refresh-jobs:hover, #refresh-jobs:active {
    text-decoration: none;
}

textarea#sample-url-input {
    resize: none;
    cursor: pointer;
}

.header-button{
    margin: 40px 0 20px 0;
    padding: 0 0 10px 0;
}