{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <h1 class="form-title">
        <div class="row">
          <div class="col-xs-12">
            <span class="the-title">{% trans "Sign In" %}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <small>
              {% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </small>
          </div>
        </div>
      </h1>

      <form class="full-page-auth-form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12">
            {{ form.as_p }}
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                {% trans "Forgot Password?" %}
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <button class="primaryAction btn btn-success" type="submit">
                {% trans "Sign In" %}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
