{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="wrap">
      <h1 class="form-title">
        <div class="row">
          <div class="col-xs-12">
            <span class="the-title">{% trans "Password Reset" %}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <small>
              {% if user.is_authenticated %}
              {% include "account/snippets/already_logged_in.html" %}
              {% endif %}
              {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </small>
          </div>
        </div>
      </h1>

      <form class="full-page-auth-form" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12">
            {{ form.as_p }}
          </div>
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <button class="primaryAction btn btn-success"  type="submit">
                {% trans 'Reset My Password' %}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
